
@{
    ViewData["Title"] = "Projects";
}
<div id="projects">
    <div class="container">
        <h1 class="sub-title">Below are some of my Works</h1>
        <div class="work-list">
            <div class="work">
                <img src="~/Images/Image.png" />
                <div class="layer">
                    <h3>Expense Tracker</h3>
                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                    <a href=""><i class="fa fa-external-link-square" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="work">
                <img src="~/Images/Image.png" />
                <div class="layer">
                <h3>EMedicine</h3>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                <a href=""><i class="fa fa-external-link-square" aria-hidden="true"></i></a>
            </div>
            </div>
            <div class="work">
                <img src="~/Images/Image.png" />
                <div class="layer">
                <h3>Blog Post Website</h3>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                <a href=""><i class="fa fa-external-link-square" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <a href="#" class="btn">See More</a>
</div>
</div>
<style>
    .sub-title {
        font-size: 60px;
        font-weight: 600;
        color: black;
        margin-top: -25px;
        font-size: 30px;
    }
    #projects
    {
        padding: 30px 0;
    }

    .work-list
    {
        display:grid;
        grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
        grid-gap:40px;
        margin-top:50px;
       
    }
    .work{
        border-radius:10px;
        position:relative;
        overflow:hidden;
    }

    .work img
    {
        width:100%;
        border-radius:10px;
        display:block;
        transition: transform 0.5s;
    }
    .layer
    {
        width:100%;
        height:0;
        background:linear-gradient(rgba(0,0,0,0.6),#ff004f);
        border-radius:10px;
        position:absolute;
        left:0;
        bottom:0;
        overflow:hidden;
        display:flex;
        align-items:center;
        justify-content:center;
        flex-direction:column;
        padding: 0 40px;
        text-align:center;
        font-size:14px;
        transition: height 0.5s;
    }
    .layer h3
    {
        font-weight:500;
        margin-bottom:20px;
        color:whitesmoke;
    }
    .layer p
    {
            color: whitesmoke;
            text-align:justify;
    }
    .layer a
    {
        margin-top:20px;
        color:#ff004f;
        text-decoration:none;
        font-size:18px;
        line-height:60px;
        background:#fff;
        width:60px;
        height:60px;
        border-radius:50%;
        text-align:center;
    }
    .work:hover img
    {
        transform:scale(1.1);
    }
    .work:hover .layer
    {
        height:100%;
    }
    .btn
    {
        display:block;
        margin:50px auto;
        width: fit-content;
        border: 1px solid #ff004f;
        padding:14px 50px;
        border-radius:6px;
        text-decoration:none;
        color:grey;
        transition: background 0.5s;
    }
    .btn:hover
    {
            background: #ff004f;
    }
</style>

